* {
    font-family: Helvetica;
}
nav {
    background: #f1f3ff;
}

.navbar-toggler {
    border: 0;
}

.btn {
    background: #5cb85f;
    border: 0;
}

.hero {
    background: #f1f3ff;
}

.hero-title {
    line-height: 150%;
    font-size: 36px;
    line-height: 54px;
}

.hero-text {
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

.card {
    width: 268px;
}

.testimonial-body {
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    width: 619px;
}

.testimonial-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

@media (max-width: 576px) {
    .card {
        width: auto;
    }
    .testimonial-body {
        width: auto;
    }
}

.banner {
    background: #0d28a6;
    border-radius: 13px;
}

.search-bar {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    top: -65px;
    background-color: white;
    position: absolute;
    margin: auto;
}

.dropdown-title {
    font-size: 12px;
    font-weight: 300;
    color: #3c3c3c;
    line-height: 18px;
}

.dropdown-btn {
    background: white;
    border: 1px solid black;
    width: 210px;
    text-align: left;
}

.form-custom {
    padding: 9px 12px;
    margin: 4px 0px;
    border-radius: 2px;
    border: 1px solid #5cb85f;
    font-size: 12px;
    font-weight: 300;
    color: #3c3c3c;
}

#clear-btn {
    margin-top: 140px;
}

@media screen and (max-width: 990px) {
    #clear-btn {
        margin-top: 330px;
    }
}

.img-thumbnail {
    border-radius: 0rem;
    border: 0px;
    width: 285px;
    height: 170px;
    object-fit: cover;
}

.card-rent { 
    width: auto;
}
